#veil {
	width: 100%;
	height: 10000px;
	position: fixed;
		top: 0px;
		left: 0px;
	background: transparent;
	z-index: 9;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.hide {
	display: none;
}
.show {
	display: inline;
}

#schangers {
	position: fixed;
		top: 50px;
	z-index: 10;
	padding: 10px 0px 0px 10px;

	border-radius: 4px;
	background: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0.9090908765792847px 2.7272727489471436px 0px;
}
.in {
	right: 10px;
}
.out {
	right: -1000px;
}
#schangers strong {
	width: 100px;

	background: transparent;
	color: #222;
	font-size: 18px;
	font-weight: 600;
	display: block;
	padding-bottom: 10px;
}
#schangers a {
	width: 100%;

	color: #08C;
	font-size: 12px;
	background: transparent;
}
#schangers a:hover {
	text-decoration: underline;
}
#facebook {
	background: url("../icons/applefacebook.png");
}
#gmail {
	background: url("../icons/applemail.png");
}
#linkedin {
	background: url("../icons/applelinkedin.png");
}
#googleplus {
	background: url("../icons/applegoogleplus.png");
}
#github {
	background: url("../icons/applegithub.png");
}
#twitter {
	background: url("../icons/appletwitter.png");
}

#icons {
	height: 46px;
	width: 360px;
	position: absolute;
		top: 150px;
		left: 270px;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: url("../bg/whitey.png") repeat;
}

#icons a {
	padding: 0px;

	margin-top: 0px;
	margin-right: 7px;
	margin-left: 8px;
	margin-bottom: 0px;

	background-size: 45px 45px;
	border-radius: 9px;
	box-shadow: 0 3px 3px #222;
	width: 45px;
	height: 45px;
	display: block;
	float: left;
}
#icons a:hover {
	cursor: pointer;
	box-shadow: 0 3px 8px #111;
}





#settings {
	position: absolute;
		top: 0px;
		right: 0px;
	background-image: url("../icons/settingsblack.png");
	background-size: 100% 100%;
	height: 20px;
	width: 20px;
	margin: 10px;
	z-index: 1000;
}
#settings:hover {
	cursor: pointer;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

html {
	overflow-y: scroll;
	line-height: 1.5;
	background: #F5F6F7;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
	display: block;
	height: fill;
}

a {
	text-decoration: none;
	color: #0489CC;
}
a:hover {
	text-decoration: underline;
}
p, li {
	line-height: 1.5;
	margin-left: 10px;
	margin-right: 10px;
}
.hidden{
	display: none;
}
iframe, video{
	width: 690px;
	height: 390px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
footer {
	clear: both;
}
#top, #footer {
	z-index: 1;
}

body, #container, #top, #footer {
	width: 800px;
	margin: 0 auto;
	background: #F5F6F7;
}	

#container {
	padding-top: 292px;
	margin: 0px auto;
	margin-top: 30px;
	position: absolute;
		top: 0px;
}

#top {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	position: absolute;
		top: 80px;
	height: 225px;
	clear: both;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

	border-radius: 4px;

	background: #FFFFFF;

	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0.9090908765792847px 2.7272727489471436px 0px;
}

#profile {
	height: 200px;
	width: 200px;
	margin: 0 auto;

	overflow: hidden;

	border-bottom: 1px solid rgb(125,125,125);
	background: url('../img/ProfileClean.png');
	background-size: 100% 100%;
		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#profilewrap {
	height: 200px;
	width: 200px;
	position: absolute;
		top: 25px;
		left: 40px;
	overflow: hidden;
		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#top h1 {
	color: #555;
	font-weight: 900;
			
	width: 60%;
	display: inline;
	font-size: 60px;
	position: absolute;
		top: 20px;
		left: 265px;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

}
#top span {
	width: 60%;
	position: absolute;
		top: 88px;
		left: 269px;
	line-height: 1.5;
	font-size: 16px;
	
	color: #444;
	font-weight: 400;

	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#navwrap {
	width: 800px;
	margin: auto;
	height: 36px;

	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(117,117,117,1) 50%, rgba(96,96,96,1) 52%, rgba(117,117,117,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(50%,rgba(117,117,117,1)), color-stop(52%,rgba(96,96,96,1)), color-stop(100%,rgba(117,117,117,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(117,117,117,1) 50%,rgba(96,96,96,1) 52%,rgba(117,117,117,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(117,117,117,1) 50%,rgba(96,96,96,1) 52%,rgba(117,117,117,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(117,117,117,1) 50%,rgba(96,96,96,1) 52%,rgba(117,117,117,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(117,117,117,1) 50%,rgba(96,96,96,1) 52%,rgba(117,117,117,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#757575',GradientType=0 ); /* IE6-9 */

	border-radius: 5px;
	border-bottom: 1px solid #444;

	box-shadow: 0 1px 0 #999;
}

nav {
	
	color: #eee;

	width: 100%;
	height: 36px;
	clear: both;
	z-index: 50;
	position: absolute;
		top: -60px;
		left: 0px;

}
nav a{
	width: 20%;
	margin: 0px -1px 0px -1px;
	padding: 11px 0;
	text-align: center;
	overflow: hidden;
	display: block;
	float: left;
	color: #eee;
	
	text-shadow: 0 -1px 0 #333, 0 1px 0 #555;
	
	font-size: 13px;
	font-weight: 500;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;;

	border-left: 1px solid #888;
	border-right: 1px solid #555;
	border-top: 1px solid #777;

	z-index: 51;
}
nav a:first-child {
	border-radius: 5px 0 0 5px;
}
nav a:last-child {
	border-radius: 0 5px 5px 0;
}
nav a:hover {
	text-decoration: none;
	background: rgba(70,70,70,.4);
	border-left-color: #666;
}
nav a:active {
	color: rgba(0,0,0,.45);
	text-shadow: 0 2px 0 rgba(255,255,255,.05);
	box-shadow: inset 0 2px 5px #444;
}
nav a.selected {
	background: rgb(96,96,96); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%, rgba(76,76,76,1) 81%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,96,96,1)), color-stop(81%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
nav a.selected:hover {
	background: rgb(96,96,96); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%, rgba(76,76,76,1) 81%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,96,96,1)), color-stop(81%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(96,96,96,1) 0%,rgba(76,76,76,1) 81%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#container > article {
	margin-bottom: 30px;
}

article {
	width: 100%;
	overflow: hidden;
	clear: both;
	position: relative;
	font-size: 14px;

	border-radius: 4px;

	background: #FFFFFF;

	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0.9090908765792847px 2.7272727489471436px 0px;
}
article p {
	padding-left: 14px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 0px;

	font-size: 12px;
	line-height: 2;
}
.outside > header {
	color: rgb(45,45,45);
	font-weight: 600;
}
article header {
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 0px;

	color: #444;

	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
}

.inside article {
	border-radius: 0px 0px 22px 22px;
}

.inside article header {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 97%;

	color: #666;
	
	font-size: 14px;
	border-radius: 0px 0px 22px 22px;
}
.inside article header:hover {
	cursor: pointer;
	color: rgb(0,130,255);
}
.inside article {
	border-radius: 0px;
	box-shadow: none;

	border-top: 1px solid #eee;
}

.right {
	font-size: 12px;
	float: right;
	position: absolute;
		right: 15px;
		top: 10px;

	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
}
article img {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
}
.place {
	font-size: 14px;
	font-style: oblique;

	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
}
.title {
	font-size: 12px;

	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
}


.education p, .education ul{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 12px;
}
.education img{
	margin-bottom: 30px;
	margin-right: 40px;
}
.education footer{
	width: 100%;
	clear: both;
}
.education li{
	line-height: 2;
}


.ref {
	min-height: 421px;
	clear: both;
	position: relative;
	line-height: 1.3;

	color: #333;

	border-radius: 4px;

	background: #FFFFFF;

	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0.9090908765792847px 2.7272727489471436px 0px;

}
.ref img {
	display: inline;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;

	float: right;
}

.ref a {
}

.ref span {
	position: absolute;
		bottom: 0px;

	border-radius: 2px;
	margin-top: 0px;
	padding-top: 50px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 8px;
	width: 94%;
	min-width: 94%;
	font-size: 20px;
	float: left;

}
.ref strong {
	font-size: 50px;
	line-height: 1;
}

#footer {
	text-align: center;
	padding: 10px 0;
	font-size: 12px;
	font-style: oblique;
	line-height: 1.5;
	color: rgb(125,125,125);

	border-radius: 5px 5px 0px 0px;
	border: 1px solid #ddd;
}
#foot {
	display: none;
}

@media screen and (max-width:840px) {
	body, #container, #top {
		width: 90%;
	}
	#footer {
		width: 100%;
	}
	body {
		padding-left: 5%;
		padding-right: 5%;
	}
	#navwrap {
		width: 100%;
	}
}

@media screen and (max-width:730px) {
	#top span {
		display: none;
	}

	#top h1 {
		width: 260px;
		left: 240px;
	}

	#icons {
		left: 240px;
	}

	iframe, video {
		width: 480px;
		height: 320px;
	}

	article {
		padding: 0;
	}

	p {
		margin: 0;
	}

	#profilewrap {
		left: 0px;
	}
}

@media screen and (max-width: 700px) {
	#icons {
		display:none;
	}
}

@media screen and (max-width: 600px) {
	.right {
		display: none;
	}
	.inside article header {
		padding-left: 3%;
		font-size: 20px;
	}
}

@media screen and (max-width: 520px) {

	#container {
		padding-top: 410px
	}

	nav a {
		padding: 12px 0;
		font-size: 16px;
		font-weight: 500;
	}

	nav, #navwrap {
		height: 41px;
	}

	video, iframe {
		width: 380px;
		height: 280px;
	}

	#container img {
		margin: 0 auto;
		padding: 0;
		width: 300px;
	}

	#profilewrap {
		position: absolute;
		top: 80px;
		left: 0px;

		height: 225px;
		width: 100%;
	}

	#profile {
		top: 0px;
		left: 0px;
		width: 225px;
		height: 225px;
	}

	#profile img {
		width: 225px;
		height: 225px;
	}

	#top h1 {
		top: 10px;
		left: 0px;
		text-align: center;
		font-size: 60px;
		width: 100%;
	}

	#top {
		height: 339px;
	}

	.education p, .education ul{
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.ref img {
		margin-right: 0px;
	}

	.ref span {
		position: absolute;
			bottom: 0px;

		margin-top: 0px;
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
		min-width: 94%;
		font-size: 20px;

	}

	#container img {
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 444px) {

	nav a {
		padding: 14px 0;
		font-size: 12px;
		font-weight: 500;
	}

	#profilewrap {
		top: 150px;
	}

	#top {
		height: 399px;
	}
	#container {
		padding-top: 470px;
	}

	video, iframe {
		width: 300px;
		height: 280px;
	}
}
