
html {
	overflow-y: scroll;
	
	font-family: 'Quicksand', sans-serif;
	line-height: 1.5;
	background: url("../img/background.png");
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;s
	-ms-user-select: none;
	user-select: none;
}

a {
	color: #71A021;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p, li {
	line-height: 1.5;
	margin-left: 10px;
	margin-right: 10px;
}
.hidden{
	display: none;
}
iframe, video{
	width: 690px;
	height: 390px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer {
	clear: both;
}
#top, #footer {
	z-index: 1;
}

body, #container, #top, #footer {
	width: 800px;
	margin: 0 auto;
	background: transparent;
}	

#container {
	color: #222222;
	background: #ffffff;
	padding-top: 292px;
	margin: 0px auto;
	position: absolute;
		top: 0px;

	box-shadow: 10px 0 30px #555555, -10px 0 30px #555555;
	-moz-box-shadow: 10px 0 30px #555555, -10px 0 30px #555555;
	-webkit-box-shadow: 10px 0 30px #555555, -10px 0 30px #555555;
}

#top {
	background: rgb(148,197,61);
	background: -moz-linear-gradient(top,  rgba(148,197,61,1) 0%, rgba(148,197,61,1) 30%, rgba(99,145,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,197,61,1)), color-stop(30%,rgba(148,197,61,1)), color-stop(100%,rgba(99,145,0,1)));
	background: -webkit-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c53d', endColorstr='#639100',GradientType=0 );

	border-bottom: 1px solid #2B4600;

	height: 291px;
	position: absolute;
		top: 0px;
	clear: both;

	box-shadow: 8px 0 12px #555555;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#top > .header {
	width: 100%;
	height: 291px;
	font-family: 'Source Sans Pro', sans-serif;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#profile {
	height: 200px;
	width: 200px;
	position: absolute;
		top: 25px;
		left: 40px;
	overflow: hidden;
		
	box-shadow: inset 0 1px 5px #222222;
	-moz-box-shadow: inset 0 1px 5px #222222;
	-webkit-box-shadow: inset 0 1px 5px #222222;
	
	border-radius: 5px;
	border-bottom: 1px solid #94c53D;
	border-top: 1px solid #444;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#profile img {
	height: 200px;
	width: 200px;
	position: relative;
		top: 0px;
		left: 0px;
	z-index: -1;
	border-radius: 5px;
}

#top > .header h1 {

	width: 60%;
	color: #ffffff;
	display: inline;
	font-size: 70px;
	font-style: oblique;
	text-shadow: 0 -1px 0 #3C5610;
	position: absolute;
		top: 25px;
		left: 265px;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

}
#top > .header span {
	color: rgb(59, 86, 15);
	width: 60%;
	position: absolute;
		top: 100px;
		left: 265px;
	line-height: 1.5;
	font-size: 20px;
	font-style: oblique;
	text-shadow: 0 1px 0 #bbff66;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#icons {
	height: 50px;
	width: 260px;
	position: absolute;
		top: 175px;
		left: 265px;
}

#icons a img{
	height: 45px;
	width: 45px;
	margin-top: 5px;
	margin-right: 3px;
		
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
	transition: all .1s ease;
}
#icons a img:hover {
	height: 50px;
	margin-top: 0px;
}

.nav {
	width: 100%;
	height: 56px;
	clear: both;
	position: absolute;
		top: 235px;
		left: 0px;
}
.nav a{
	width: 20%;
	color: #ffffff;
	margin: 0 0px;
	padding: 19px 0;
	text-align: center;
	overflow: hidden;
	display: block;
	float: left;
	
	font-size: 18px;
	font-weight: 500;
	text-shadow: 0 -1px 0 #2B4600;
}
.nav a:hover {
	text-decoration: none;
	border-bottom: 1px solid #bbbbbb;

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 70%, rgba(255,255,255,0.27) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,0.02)), color-stop(100%,rgba(255,255,255,0.27))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 70%,rgba(255,255,255,0.27) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 70%,rgba(255,255,255,0.27) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 70%,rgba(255,255,255,0.27) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 70%,rgba(255,255,255,0.27) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#45ffffff',GradientType=0 ); /* IE6-9 */
}
.nav a:active {
	color: #ffffff;
	text-shadow: 0 -1px 0 #2B4600;

	background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff',GradientType=0 );	
}
.nav a.selected {
	color: rgb(43, 70, 0);
	cursor: default;
	text-shadow: 0 1px 0 #94c53D;
}
.nav a.selected:hover {
	color: rgb(43, 70, 0);
	text-shadow: 0 1px 0 #94c53D;
	background: rgba(0,0,0,0);
	border-bottom-color: transparent;
}
.nav a.selected:active {
	background: rgba(0,0,0,0);
}

.article {
	width: 100%;
	border-bottom: 1px solid #779922;
	overflow: hidden;
	clear: both;
	position: relative;
	color: #666;
	font-family: 'Quicksand', sans-serif;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.article p {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #666;
}
.article .header {
	color: #71A021;
	font-size: 30px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 0px;
}
.inside .article .header {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 97%;

	text-shadow: 0 1px 0 #ffffff;

	font-size: 20px;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 37%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 37%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 37%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 37%,rgba(242,242,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 37%,rgba(242,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.article img {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	border: 4px solid #fff;
	border-radius: 3px;
	box-shadow: 0 0 10px #999999;
}


.education p, .education ul{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.education img{
	margin-bottom: 30px;
	margin-right: 40px;
}
.education .footer{
	width: 100%;
	clear: both;
}
.education li{
	line-height: 1.5;
}


.ref {
	min-height: 421px;
	border-bottom: 1px solid #779922;
	clear: both;
	position: relative;
	line-height: 1.3;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 20%,rgba(242,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.ref img {
	display: inline;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;

	border: 0px solid red;
	border-radius: 0px;
	box-shadow: none;
	float: right;
}

.ref span {
	position: absolute;
		bottom: 0px;
	color: #2B4600;

	margin-top: 0px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 8px;
	width: 94%;
	min-width: 94%;
	font-size: 20px;
	border-radius: 0;
	float: left;
	z-index: 5;
	text-shadow: 0 1px 0 #ffffff;

	box-shadow: none;

	background: -moz-linear-gradient(top,  rgba(247,247,247,0) 0%, rgba(247,247,247,0) 1%, rgba(247,247,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,0)), color-stop(1%,rgba(247,247,247,0)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}
.ref strong {
	color: #71A021;
	font-size: 50px;
	line-height: 1;
}
.ref a:hover {
	text-decoration: underline;
}

#footer {
	color: rgb(23, 50, 0);
	text-align: center;
	padding: 10px 0;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-style: oblique;
	line-height: 1.5;
	text-shadow: 0 1px 0 #ddd;
	
	background: rgb(148,197,61);
	background: -moz-linear-gradient(top,  rgba(148,197,61,1) 0%, rgba(148,197,61,1) 30%, rgba(99,145,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,197,61,1)), color-stop(30%,rgba(148,197,61,1)), color-stop(100%,rgba(99,145,0,1)));
	background: -webkit-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c53d', endColorstr='#639100',GradientType=0 );

	box-shadow: -8px 0 12px #555555;
	-moz-box-shadow: -8px 0 12px #555555;
	-webkit-box-shadow: -8px 0 12px #555555;
}
#foot {
	display: none;
}

@media screen and (max-width:800px) {
	html {
		background: none;
	}

	body, #container, #top, #footer, .nav, .article, .education .footer {
		width: 100% !important;
		margin: 0 !important;
	}
}

@media screen and (max-width:730px) {
	#top .header span {
		display: none;
	}

	#top > .header h1 {
		width: 260px;
	}

	iframe, video {
		width: 480px;
		height: 320px;
	}

	.article {
		padding: 0;
	}

	p {
		margin: 0;
	}
}

@media screen and (max-width: 600px) {
	.right {
		display: none;
	}
	.inside .article .header {
		padding-left: 3%;
		font-size: 20px;
	}
}

@media screen and (max-width: 520px) {

	#container {
		padding-top: 366px
	}

	.nav a {
		padding: 20px 0;
		font-size: 16px;
		font-weight: 500;
	}

	video, iframe {
		width: 380px;
		height: 280px;
	}

	#container img {
		margin-left: 2%;
		margin-right: 2%;
		width: 94%;
	}

	#profile {
		top: 80px;
		left: 20%;
		right: auto;
		width: 225px;
		height: 225px;
	}

	#profile img {
		width: 225px;
		height: 225px;
	}

	#top > .header h1 {
		top: 10px;
		left: 0px;
		text-align: center;
		font-size: 60px;
		width: 100%;
	}

	#top, #top > .header {
		height: 366px;
	}

	.nav {
		top: 310px;
	}

	#icons {
		display: none;
	}	

	.education p, .education ul{
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.ref img {
		margin-right: 0px;
	}

	#cash {
		width: 100%;
	}

	.ref span {
		position: absolute;
			bottom: 0px;
		color: #2B4600;

		margin-top: 0px;
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
		min-width: 94%;
		font-size: 20px;
		border-radius: 0;

		box-shadow: none;

		background: -moz-linear-gradient(top,  rgba(247,247,247,0) 0%, rgba(247,247,247,0) 1%, rgba(247,247,247,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,0)), color-stop(1%,rgba(247,247,247,0)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(247,247,247,0) 0%,rgba(247,247,247,0) 1%,rgba(247,247,247,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	}
}

@media screen and (max-width: 350px) {
	.nav a {
		padding: 15px 3px;
		font-size: 12px;
		font-weight: 500;
		width: auto;
	}

	.nav {
		top: 374px;
	}

	#profile {
		left: 45px;
		top: 150px;
	}

	#top, #top > .header {
		height: 416px;
	}
	#container {
		padding-top: 416px;
	}

	video, iframe {
		width: 300px;
		height: 280px;
	}

}