html {
	overflow-y: scroll;
	min-width: 900px;
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	background: url("../img/background.png");
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;s
	-ms-user-select: none;
	user-select: none;
}
a {
	color: #71A021;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p, li {
	line-height: 1.5;
	margin-left: 10px;
	margin-right: 10px;
}
.hidden{
	display: none;
}
.courier {
	margin-left: 30px;
	font-family: courier;
	font-size: 16px;
}
iframe, video{
	width: 690px;
	height: 390px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer {
	clear: both;
}
#top, #footer {
	z-index: 1;
}

body, #container, #top, #footer {
	width: 800px;
	margin: 0 auto;
	
	box-shadow: 10px 0 30px #555555, -10px 0 30px #555555;
	-moz-box-shadow: 10px 0 30px #555555, -10px 0 30px #555555;
	-webkit-box-box-shadow: 10px 0 30px #555555, -10px 0 30px #555555;
}

#container {
	width: 800px;
	color: #222222;
	background: #808080;
	margin-top: 292px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
		top: 0px;
}

#top {
	background: rgb(148,197,61);
	background: -moz-linear-gradient(top,  rgba(148,197,61,1) 0%, rgba(148,197,61,1) 30%, rgba(99,145,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,197,61,1)), color-stop(30%,rgba(148,197,61,1)), color-stop(100%,rgba(99,145,0,1)));
	background: -webkit-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(148,197,61,1) 0%,rgba(148,197,61,1) 30%,rgba(99,145,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c53d', endColorstr='#639100',GradientType=0 );

	border-bottom: 1px solid #2B4600;
	width: 800px;
	height: 291px;
	position: absolute;
		top: 0px;
	clear: both;
}

#top > .header {
	width: 700px;
	height: 200px;
	font-family: Helvetica, sans-serif;
	margin-left: 40px;
	margin-right: 50px;
	margin-top: 25px;
	margin-bottom: 10px;
}
#profile {
	height: 200px;
	width: 200px;
	position: relative;
		top: 0px;
		left: 0px;
	overflow: hidden;
		
	box-shadow: inset 0 1px 5px #222222;
	-moz-box-shadow: inset 0 1px 5px #222222;
	-webkit-box-shadow: inset 0 1px 5px #222222;
	
	border-radius: 5px;
	border-bottom: 1px solid #94c53D;
	border-top: 1px solid #444;
}
#profile img {
	height: 200px;
	width: 200px;
	position: relative;
		top: 0px;
		left: 0px;
	z-index: -1;
	border-radius: 5px;
}

#top > .header h1 {

	width: 475px;
	color: #ffffff;
	display: inline;
	font-size: 70px;
	font-style: oblique;
	text-shadow: 0 -1px 0 #3C5610;
	position: absolute;
		top: 25px;
		left: 265px;
}
#top > .header span {
	color: #3B560F;
	width: 475px;
	height: 60px;
	position: absolute;
		top: 100px;
		left: 265px;
	line-height: 1.5;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-style: oblique;
	text-shadow: 0 1px 0 #94c53D;
}

#icons {
	height: 50px;
	width: 475px;
	position: absolute;
		top: 175px;
		left: 265px;
}
#icons > a > img{
	height: 45px;
	width: 45px;
	margin-top: 5px;
	margin-right: 3px;
		
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
	transition: all .1s ease;
}
#icons > a > img:hover {
	height: 50px;
	margin-top: 0px;
}

.nav {
	width: 800px;
	height: 56px;
	clear: both;
	font-family: Helvetica, sans-serif;
	font-weight: 700;
}
.nav a{
	width: 140px;
	color: #2B4600;
	margin: 0 10px;
	padding: 20px 0;
	text-align: center;
	overflow: hidden;
	display: block;
	float: left;
	
	font-size: 16px;
	text-shadow: 0 1px 0 #94c53D;
	
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
	transition: all .5s ease;
}
.nav a:hover {
	color: #ccc;
	text-shadow: 0 -1px 0 #2B4600;
	text-decoration: none;
}
.nav a:active {
	color: #ffffff;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff',GradientType=0 );	
	text-shadow: 0 -1px 0 #2B4600;
}
.nav a.selected {
	color: #ffffff;
	cursor: default;
	text-shadow: 0 -1px 0 #2B4600;
}
.nav a.selected:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 #2B4600;
}

.article {
	width: 800px;
	background-color: #ffffff;
	border-bottom: 1px solid #779922;
	overflow: hidden;
	clear:both;
}
.article p {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.article .header {
	color: #71A021;
	font-size: 30px;
	font-family: helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 0px;
}
.article .header img {
	display: none;
}
.inside .article .header {
	margin-left: 30px;
	font-size: 20px;
}
.article img {
	position: relative;
		right: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	padding-left: 10px;
	margin-left: 10px;
	float: right;
}

.education p, .education ul{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.education img{
	margin-bottom: 30px;
	margin-right: 40px;
}
.education .footer{
	width: 800px;
	clear: both;
}
.education li{
	line-height: 1.5;
}


.ref {
	background: #ffffff;
	height: 421px;
	border-bottom: 1px solid #779922;
	clear: both;
}
.ref img {
	float: left;
	display: inline;
}
.ref span {
	color: #2B4600;
	width: 470px;
	padding: 10px;
	padding-right: 40px;
	display: inline;
	font-size: 25px;
	float: left;
	word-wrap: break-word;
	line-height: 1.2;
}
.ref strong {
	font-size: 50px;
}
.ref a:hover {
	text-decoration: underline;
}

#footer {
	background: #71A021;
	color: #2B4600;
	text-align: center;
	padding: 10px 0;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: oblique;
}
#foot {
	display: none;
}